<p>ticket works!</p>
<div class="container" style="border: solid 2px black;">
    <div class="row">
        <div class="col">Fecha inicio</div>
        <div class="col">{{ticket.fecha_inicio}}</div>
    </div>
    <div class="row">
        <div class="col">Fecha Fin</div>
        <div class="col">{{ticket.fecha_fin}}</div>
    </div>
    <div class="row">
        <div class="col">Motivo</div>
        <div class="col">{{ticket.motivo}}</div>
    </div>
    <div class="row">
        <div class="col">Cliente:</div>
    </div>
    <app-cliente></app-cliente>
    <div class="row">
        <div class="col">Pasos</div>
        <div class="col">{{ticket.pasos}}</div>
    </div>
    <div class="row">
        <div class="col">Resuelto</div>
        <div class="col"> <b> {{ticket.resuelto }} </b> </div>
    </div>
    <div class="row">
        <div class="col">Finalizado</div>
        <div class="col"> <b> {{ticket.finalizado }} </b> </div>
    </div>

    <div class="row">
        <div class="col">Responsables:</div>
    </div>

    <div *ngFor="let item of ticket.responsables">


        <div class="row">
            <div class="col">Id Empleado</div>
            <div class="col"> {{item.idEmpleado }}</div>
        </div>
        <div class="row">
            <div class="col">Nombre</div>
            <div class="col"> {{item.nombre }} </div>
        </div>
        <div class="row">
            <div class="col">Apellido</div>
            <div class="col"> {{item.apellido }} </div>
        </div>
        <div class="row">
            <div class="col">DNI</div>
            <div class="col"> {{item.dni}} </div>
        </div>
        <div class="row">
            <div class="col">Area</div>
            <div class="col"> {{item.area.nombre }} </div>
        </div>
        <div class="row">
            <div class="col">Ubicacion</div>
            <div class="col"> {{item.area.posicion.coordinates }}</div>
        </div>

    </div>


</div>