<button type="button" class="btn btn-primary botoncito" (click)="Consulta('tickets')">
    Cantidad de tickets atendidos por cada empleado
</button>

<button type="button" class="btn btn-primary botoncito" (click)="Consulta('mastickets')">
    El empleado que atendio mas tickets
</button>

<button type="button" class="btn btn-primary botoncito" (click)="Consulta('tecnicos')">
    Todos los empleados que son tecnicos
</button>

<button type="button" class="btn btn-primary botoncito" (click)="Consulta('tecnicoscerca')">
    Si hay algun tecnico cerca (2km) de un cliente que quiere devolver el producto
</button>

<button type="button" class="btn btn-primary botoncito" (click)="empleadosClientes('yclientes')">
    Los empleados que tambien son clientes
</button>


<div class="container"  style="border: solid 1px black; margin-top: 5%;">
    <div class="row">
        <div class="col">
            <div *ngIf="cantidad>0">Cantidad de elementos: {{cantidad}}</div>
            <pre>
                {{consulta}}
            </pre>
        </div>
    </div>
</div>