
<button (click)="Consulta('motivo')">Motivo por el que llegan mas tickets</button>
<br>
<button (click)="Consulta('sinresolver')">Todos los tickets sin resolver</button>
<br>
<button (click)="Consulta('esteano')">Cantidad de tickets este anio</button>
<br>
<button (click)="Consulta('zonasur')">Todos los tickets de Zona Sur (lanus, avellaneda, quilmes)</button>
<br>
<button (click)="Consulta('unpaso')">Todos los tickets resueltos en un solo paso</button>
<br>
<button (click)="Consulta('desperfecto')">Todos los tickets desperfectos sin resolver, dentro del area de cobertura del servicio tecnico</button>
<br>
<button (click)="Consulta('buscar/dar de')">Buscar texto dentro de un ticket</button>
<br>


<div class="container">
    <div class="row">
        <div class="col">
            <div *ngIf="cantidad>0">Cantidad de elementos: {{cantidad}}</div>
            <pre>
                {{consulta}}
            </pre>
        </div>
    </div>
</div>



