<div class="container">

  <div class="row">
    <div class="col">

      <div class="btn-group lg" style="width: 100%;" role="group" aria-label="Basic example">

        <button type="button" (click)="clickTema(1)" [ngClass]="{'btn-secondary': mostrarCliente}"
          class="btn btn-primary btn-lg">Clientes</button>

        <button type="button" (click)="clickTema(2)" [ngClass]="{'btn-secondary': mostrarEmpleados}"
          class="btn btn-primary btn-lg">Empleados</button>

        <button type="button" (click)="clickTema(3)" [ngClass]="{'btn-secondary': mostrarTickets}"
          class="btn btn-primary btn-lg">Tickets</button>
      </div>

    </div>
  </div>
</div>


<div class="container mt-5 ">
  <div class="row">

    <div *ngIf="mostrarCliente" class="container">
      <app-clientes></app-clientes>
    </div>

    <div *ngIf="mostrarEmpleados" class="container">
      <app-empleados></app-empleados>
    </div>

    <div *ngIf="mostrarTickets" class="col">
      <app-tickets></app-tickets>
    </div>

  </div>

</div>