<div class="container">


  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="clickTema(1)" [ngClass]="{seleccionada: mostrarCliente}"
          class="btn btn-primary">Clientes</button>
        <button type="button" (click)="clickTema(2)" [ngClass]="{seleccionada: mostrarAtencion}"
          class="btn btn-primary">Atencion</button>
        <button type="button" (click)="clickTema(3)" [ngClass]="{seleccionada: mostrarIncidentes}"
          class="btn btn-primary">Incidentes</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">

    <div *ngIf="mostrarCliente" class="col">
      <app-clientes></app-clientes>
    </div>

    <div *ngIf="mostrarAtencion" class="col">
      <app-atencion></app-atencion>
    </div>

    <div *ngIf="mostrarIncidentes" class="col">
      <app-incidentes></app-incidentes>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <app-ticket></app-ticket>
    </div>
  </div>

</div>