<p #pepe>clientes works!</p>

<button type="button" class="btn btn-primary" (click)="Consulta('cantidadTickets')" >Cantidad de tickets</button> 
<br>
<button type="button" class="btn btn-primary" (click)="Consulta('nonormal')">Clientes que no tienen plan normal</button>
<br>
<button type="button" class="btn btn-primary" (click)="Consulta('canalesaire')">Clientes que tienen todos los canales de aire</button>
<br>
<button type="button" class="btn btn-primary" (click)="Consulta('barrio')">De que barrio es un cliente</button>
<br>
<button type="button" class="btn btn-primary" (click)="Consulta('clienteslocalidad')">Todos los clientes y su localidad</button>
<br>


<div class="container">
    <div class="row">
        <div class="col">
            <div *ngIf="cantidad>0">Cantidad de elementos: {{cantidad}}</div>
            <pre>
                {{consulta}}
            </pre>
        </div>
    </div>
</div>