<div class="container">
    
    <div class="row">
        <div class="col">Nombre</div>
        <div class="col">{{cliente.nombre}}</div>
    </div>
    <div class="row">
        <div class="col">Apellido</div>
        <div class="col">{{cliente.apellido}}</div>
    </div>
    <div class="row">
        <div class="col">DNI</div>
        <div class="col">{{cliente.dni}}</div>
    </div>
    <div class="row">
        <div class="col">Coordenadas</div>
        <div class="col">{{cliente.ubicacion.coordinates }}</div>
    </div>
    <div class="row">
        <div class="col">Localidad</div>
        <div class="col">{{cliente.localidad.nombre }}</div>
    </div>
    <div class="row">
        <div class="col">Plan</div>
        <div class="col">{{cliente.tipo_de_plan.tipo}}</div>
    </div>

</div>

